syntax on
set relativenumber
set number
set visualbell
set surround
set highlightedyank
set ideamarks
set ideajoin
set commentary
set argtextobj
set textobj-entire
set vim-paragraph-motion
set textobj-indent
set exchange
set mouse=a
set easymotion
set expandtab
set smartindent
set tabstop=2
set shiftwidth=2
set autoindent
set numberwidth=1
set nowrap
set noswapfile
set nobackup
set incsearch
set ignorecase
set clipboard=unnamedplus
set encoding=utf-8
set showmatch
set cursorline
set termguicolors
set colorcolumn=120
set linespace=3
set nocompatible
set undolevels=10000
let mapleader = " "
highlight Column ctermbg=0 guibg=lightgrey

vmap <A-k>  :action MoveLineUp<CR>
vmap <A-j>  :action MoveLineDown<CR>
vmap ii <Esc>
vmap II <Esc>

imap jj <Esc>
imap jk  <Esc>

nmap <A-j> :action MoveLineDown<CR>
nmap <A-k> :action MoveLineUp<CR>

nmap <S-Tab> :tabprevious<cr>
nmap <Tab> :tabnext<cr>

nmap <leader>v :vsp<CR>
nmap <leader>b :sp<CR>

<ll>w        <Plug>(easymotion-w)
<ll>W        <Plug>(easymotion-W) 
<ll>b        <Plug>(easymotion-b) 
<ll>B        <Plug>(easymotion-B) 
<ll>e        <Plug>(easymotion-e) 
<ll>E        <Plug>(easymotion-E) 
<ll>ge       <Plug>(easymotion-ge) 
<ll>gE       <Plug>(easymotion-gE)
<ll>j        <Plug>(easymotion-j) 
<ll>k        <Plug>(easymotion-k) 
<ll>s        <Plug>(easymotion-s)


sethandler <C-o> a:ide
sethandler <C-c> a:ide
sethandler <C-s> a:ide
sethandler <C-k> a:ide
sethandler <C-p> a:ide
sethandler <C-n> a:ide
sethandler <C-w> a:ide
sethandler <C-b> a:ide
